endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

exec mysql.cfg

# FiveM Core Resources
start mapmanager
start spawnmanager
start sessionmanager
start fivem
start hardcap
start ghmattimysql
start debug
start baseevents
start chat
start qb-core
start connectqueue

exec resources.cfg

# Allows lambda
sv_scriptHookAllowed 1

# Rcon (not used)
#rcon_password changeme

# tags
sets tags "pakistan,urdu,Pakistan,PVRP,Pakistan Vision,pvrp,Best Roleplay"

# Banner
sets banner_detail ""
sets banner_connecting ""

# Set your server's hostname
sv_hostname "^2PV^0RP | ^2Pak^0is^2tan | ^4Custom Framework | ^6Active Staff/Development | ^8Join: ^7discord.gg/uTHxJnNmxt"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "skrt"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Add system admins
add_ace builtin.everyone qbcommands allow

# Add moderator group
add_principal group.moderator

#qb-admin permissions
exec permissions.cfg
add_ace group.admin qbadmin allow # admin can do everything

add_ace group.moderator qbadmin.join allow

add_ace group.admin resource.els-plus command.add_ace allow

add_ace group.admin command allow # allow all commands
add_principal identifier.steam:11000013f4d3e2e group.qbadmin #Deathhunter
add_principal identifier.steam:110000114f5c56d group.qbadmin #CH3d
add_principal identifier.steam:1100001422d6665 group.qbadmin #PAN

# Hide player endpoints in external log output.
sv_endpointprivacy true

# License key for your server (https://keymaster.fivem.net)
set sv_licenseKey "hxmimy21i5m7k6qjaf79md55ogjy4bpc"

# Steam web api
set steam_webApiKey "93B388B6244BCBEC3C75E9F30DA82F17"

# enable/disable onesync
#set onesync_enabled 1

# max clients
sv_maxclients 52

sv_useDirectListing true

#livemap convars
set socket_port 30124
set livemap_debug 0
set blip_file "blips.json"
set livemap_access_control "*"
set livemap_milliseconds 1000
blips generate

# sv_lan 1